.main{
    margin-top: 100px;
    text-align: center;

}


.pic{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.hey{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px ;
    border: 2px solid #0645c4;
    border-radius: 30px;
    padding: 10px;
}

.btn{
   
    margin-top: 10px;
    background: #dfe1e5;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-size: 14px;
    font-weight: lighter;
}